<h1>im show of user </h1>

<strong>user email id:</strong> <%=  @user.email %> <br>
<strong>user password:</strong><%=  @user.password %> <br>
<strong>user first name:</strong><%=  @user.first_name %><br>
<strong>user last name:</strong><%=  @user.last_name %> <br>

<%= link_to 'post/new' , new_user_post_path %>
