<h1>im show of posts </h1>

 <%= @post.author %>
 <%= @post.body %>
 <%= @post.published %>


 <div>
<strong>user email: </strong> <%= @user.email %><br>
<strong>user password: </strong> <%= @user.password %><br>
<strong>user first_name: </strong> <%= @user.first_name %><br>
<strong>user last_name: </strong> <%= @user.last_name %><br>
</div>
<br>
